body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    padding: 15px 30px; /* Aumenta o espaço interno (vertical e horizontal) */
    font-size: 18px; /* Aumenta o tamanho do texto no botão */
    width: auto; /* Define largura automática */
    height: auto; /* Define altura automática */
    border-radius: 4px; /* Arredonda os cantos (opcional) */
    cursor: pointer; /* Adiciona um ponteiro ao passar o mouse */
}

.timer {
    font-size: 70px;
    font-weight: bold;
    padding: 25px 50px 75px 100px;
    text-align: center;
}

.menu {
    font-size: 40px;
    text-align: center;
}

.titulo {
    font-size: 40px;
    text-align: center;
}

input[type="number"] {
    padding: 12px; /* Aumenta o espaçamento interno do campo */
    font-size: 18px; /* Aumenta o tamanho da fonte dentro do input */
    width: 100%; /* Faz o campo ocupar toda a largura disponível */
    max-width: 300px; /* Limita a largura máxima do campo */
    height: 45px; /* Aumenta a altura do campo */
    border: 1px solid #ccc; /* Define uma borda suave */
    border-radius: 5px; /* Arredonda os cantos */
    margin-bottom: 10px; /* Espaço abaixo do campo */
    box-sizing: border-box; /* Inclui o padding e borda na largura do campo */
}

button:hover {
    background-color: #ff0000;
}